.page-wrapper {
	@extend %flex-main;
    height: 100%;
    align-items: stretch;
}

.comments-list, .weather-map {
	width: 50%;
	padding: 3rem;

  @include at-breakpoint($bp-1) {
    width: 100%;
    padding: 1rem;
  }
}

.list-container {
  overflow: hidden;
  height: 80%;
}

.footer {
  position: fixed;
  background-color:$base-color;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 90px;
  padding-left: 3rem;
}