.page-wrapper {
	@extend %flex-main;
    height: 100%;
    align-items: stretch;
}

.weather-list, .weather-map {
	width: 50%;
	padding: 3rem;

  @include at-breakpoint($bp-1) {
    width: 100%;
    padding: 1rem;
  }
}

.list-container {
  overflow: hidden;
  height: 80%;
}

.half-column {
  width: 50%;
  float: left;
}