@import "mixins/list-group";
@import "mixins/buttons";
@import "mixins/panels";
@import "mixins/forms";
@import "mixins/nav-vertical-align";
@import "mixins/nav-divider";
@import "mixins/text-emphasis";
@import "mixins/background-variant";
@import "mixins/tab-focus";
@import "mixins/vendor-prefixes";
@import "mixins/grid";
@import "mixins/clearfix";

@mixin at-breakpoint($x) {
	@media (max-width:$x) {
		@content;
	}
}


@mixin box-sizing($box-model) {
	box-sizing: $box-model;
}
%flex-main {
	display: flex;
  	justify-content: flex-start;
  	flex-flow: row wrap;
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%one-third {
	width: 33.33%;
}

%two-thirds {
	width: 66.66%;
}

%l-full {
	width: 100%;
}
