// Shared ---------------------------------------------------------------------
//-----------------------------------------------------------------------------
.ui-icon {
	display: inline;
	width: 50px;
	height: 50px;
	margin: 15px;
	fill: white;
	stroke: white;
}

.border {
	border: 0.1rem solid rgba(black, 0.4);
	border-radius: 0.2rem;
}

// Bootstrap tables ------------------------------------------------------------
// ----------------------------------------------------------------------------
@import "modules/tables";

// Buttons  -------------------------------------------------------------------
//  ---------------------------------------------------------------------------
@import "modules/buttons";

.btn {
	background-color: $light-blue;
	color: white;
	transition: all 0.15s ease-out;
	text-decoration: none;
	&:hover {
		  color: white;
		  transform: scale(1.1);
	}
}

// Weather map view -----------------------------------------------------------
//-----------------------------------------------------------------------------
.angular-google-map-container {
	height: 30rem !important;
}

.info-window {
	width: 180px;
	height: 165px;
	font-size: 1rem;
}
.weather-map-temp {
	position: absolute;
	left: 100px;
	top: 115px;
}
.weather-map {
	background-color: $dark-blue;
}

.map-ui {
	width: 100%;
	margin: 2rem 0;
	color: white;
}

.ui-slider {
	margin-top: 2rem;
}

.ui-date {
	font-size: 1.4rem;
	padding: 3rem 10%;
	color: white;
}

.piechart {
	width: 33%;
	height: 400px;
	float: left;
	text-align: center;
	color: white;

	h3 {
		margin-top: -2rem;
	}
}

.chart-key {
	width: 33%;
	color: white;
	font-size: 1.2rem;
	margin-left: 1.5rem;
	
	ul li {
		display: inline-block;
		padding: 0.2rem 1rem;
	}

	ul li:first-child {
		width: 50px;
		height: 30px;
	}

	ul:nth-child(1) {
		li:first-child {
			background-color: #1f77b4;
		}
	}
	ul:nth-child(2) {
		li:first-child {
			background-color: #aec7e8;
		}
	}
	ul:nth-child(3) {
		li:first-child {
			background-color: #ff7f0e;
		}
	}
}

// Weather locations list view ----------------------------------------------
//-----------------------------------------------------------------------------

.post-content {
  padding: 1rem 0.5rem;
}

.edit-post {
	margin-top: 2rem;
	a {
		text-decoration: none;
	}
}

.ui-comments-list {
	a {
		text-decoration: none;
		border-right: 2px solid black;
		padding: 0 0.5rem;
	}
}

.module-page {
	margin: 2rem 0;
	padding: 1.5rem;
	@extend .border;
	background-color: white;
}

.chart {
	margin: 2rem 0 0 0;
	font-size: 0.8rem;

	h3 {
		font-size: 1.2rem;
		font-weight: bold;
		padding: 1rem;
	}

}

// Bar chart
#barchart {
	width: 300px;
	height: 200px;
}

.bar {
	width: 20px;
	margin: 1px;
	display: inline-block;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.weather-item {
	transition: all 0.1s linear;
}

.weather-item.ng-enter.ng-enter-active,
.weather-item.ng-leave {
	opacity: 1;
	padding: 1.5rem;
	height: auto;
}

.weather-item.ng-leave.ng-leave-active {
	opacity: 0;
	padding: 1.5rem;
	overflow: hidden;
}

// Navigation -----------------------------------------------------------------
//-----------------------------------------------------------------------------
.ui-search, .ui-menu {
	width: 320px;
	height: 80px;
	position: fixed;
	right: -240px;
	top: 0;
	background-color: $dark-blue;
	input, ul {
		float: right;
		padding: 1rem;
	}
	input {
		width: 220px;
		margin: 15px 10px;
	}
}

.ui-search {
	border-bottom: 2px solid rgba(white, 0.5);
}

.ui-menu {
	top: 80px;
	ul {
		width: 240px;
		margin-top: -100px;
		padding: 1.5rem;
		background-color: inherit;
	}
	ul li {
		font-size: 1.4rem;
		padding: 0.5rem 0;
		a {
		  padding: 1rem;
		  text-decoration: none;
		  color: white;
		}
	}
}

.ui-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 130px;
	background-color: $base-color;

	.btn:first-child  {
		margin-left: 3rem;
	}

	@include at-breakpoint($bp-1) {
		height: 40px;
		width: 100%;
	}
}

// Forms ----------------------------------------------------------------------
// ----------------------------------------------------------------------------
@import "modules/forms";

.list-add-form {
	label, .input-flex {
		width: 100%;
		font-size: 1.4rem;
	}
	label {
		margin-bottom: 0.5rem;
	}
	.input-flex {
		box-sizing: border-box;
		margin-bottom: 2rem;
		padding: 1rem;
	}
	textarea {
		height: 10rem;
	}
}

.search-bar {
	padding: 1rem;
	input {
		width: 40%;
		margin: 0 1rem 0 0;
		padding: 0.5rem;
	}
}

.heading {
	display: inline;
	padding: 0 0.5rem;
	font-weight: bold;
	border-bottom: 2rem;
}

.comment-content {
	padding: 1rem 0;
}