section.comments-list
	article.post(class="module-page")
		h3.post-heading
		p(class="comment-content") 
		a(href='#/edit/{{comments.indexOf(comment)}}' class="btn btn-sm") Edit Comment
	form(ng-submit="postComment()" class="list-add-form module-page")
		label(for="name") Name
		input(type="text" ng-model="$scope.add" id="name" class="input-flex border")
		label(for="commentText") Comment
		textarea(ng-model="addContent" id="commentText" class="input-flex border" placeholder="Your comment...")
		a(href="#/list")
			input(type="submit" class="btn btn-lg" value="Add Comment")