section.comments-list
	.map.border
		#map-canvas.border
	div(ui-slider min="0" max="200" ng-model="slider")
	h2 There are {{comments.length}} comments.
	.search-bar
		label(for="search") Search:
		input(type="text" ng-model="searchQuery" class="border" name="search" placeholder="Search comments")
		span
			a(ng-click="removeComments()" class="btn btn-sm" ) Remove Comments
	article.comment-list(ng-animate="'animate'" ng-repeat="comment in comments | filter: searchQuery" class="module-page")
		label(class="list-select")
			input(type="checkbox" ng-model="comment.selected")
			h3.post-heading {{comment.title}}
		p(class="comment-content") {{comment.content}}
		a(href='#/edit/{{comments.indexOf(comment)}}' class="btn btn-sm") Edit Comment
	//- a(href="#/add" class="btn btn-sm" ) Add a Comment
	form(ng-submit="postComment()" class="list-add-form module-page")
		label(for="name") Name
		input(type="text" ng-model="addTitle" id="name" class="input-flex border")
		label(for="commentText") Comment
		textarea(ng-model="addContent" id="addContent" class="input-flex border" placeholder="Your comment...")
		//- a(href="#/list")
		input(type="submit" class="btn btn-lg" value="Add Comment")
	script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="js/jquery-ui.js")
	script(src="js/global.js")