
<article class="comment-list">
  <label class="list-select">
    <input type="checkbox" ng-model="comment.selected"/>
    <h3 class="heading">{{addTitle}}</h3>
  </label>
  <p class="comment-content">{{addContent}}</p>
</article>
<form ng-submit="postComment()" class="list-add-form module-page">
  <label for="name">Name</label>
  <input type="text" ng-model="addTitle" id="name" class="input-flex border"/>
  <label for="commentText">Comment</label>
  <textarea ng-model="addContent" id="addContent" placeholder="Your comment..." class="input-flex border">
  </textarea>
  <input type="submit" value="Add Comment" class="btn btn-lg"/>
</form>