// Pop out UI controls display top right
.ui-search( class="menu-animation" ng-class="{'highlight':active, 'selected':select}" ng-mouseenter="active = true" ng-mouseleave="active = false")
    svg(ng-click="select = !select").ui-icon
        use(xlink:href="#search-icon")
    input(type="text" ng-model="searchQuery" class="border" name="search" placeholder="Search comments")
.ui-menu( menu-item class="menu-animation" ng-class="{'highlight':active, 'selected':select}" ng-mouseenter="active = true" ng-mouseleave="active = false")
    ul
        li(ng-repeat="item in menuItems")
            a(ui-sref="{{::item.sref}}") {{item.title}}
    svg(ng-click="select = !select").ui-icon
        use(xlink:href="#menu-icon")
// View headline
h1 {{weather.length}} Weather Stations
// Module for displaying each locations weather data in
.weather-item(ng-animate="'animate'" ng-repeat="weatherLocation in weather | filter:searchQuery | slice:listIndex:listIndexMax" class="module-page")
    label(class="list-select")
        h3.heading {{::weatherLocation.location}}
    table.table
        thead
            // Name of each day in forecast
            th
            th {{::weatherLocation.period[0].date | date: 'EEE'}}
            th {{::weatherLocation.period[1].date | date: 'EEE'}}
            th {{::weatherLocation.period[2].date | date: 'EEE'}}
            th {{::weatherLocation.period[3].date | date: 'EEE'}}
            th {{::weatherLocation.period[4].date | date: 'EEE'}}
            // Weather conditions icons
            tr 
                td weather
                td
                    img(ng-src="/assets/weather-icons/w{{::weatherLocation.period[0].dayTime.weatherType}}.png") 
                td
                    img(ng-src="/assets/weather-icons/w{{::weatherLocation.period[1].dayTime.weatherType}}.png")
                td
                    img(ng-src="/assets/weather-icons/w{{::weatherLocation.period[2].dayTime.weatherType}}.png")
                td
                    img(ng-src="/assets/weather-icons/w{{::weatherLocation.period[3].dayTime.weatherType}}.png")
                td
                    img(ng-src="/assets/weather-icons/w{{::weatherLocation.period[4].dayTime.weatherType}}.png")
            // Temperature
            tr 
                td temp
                td {{::weatherLocation.period[0].dayTime.temp}} ° c 
                td {{::weatherLocation.period[1].dayTime.temp}} ° c 
                td {{::weatherLocation.period[2].dayTime.temp}} ° c 
                td {{::weatherLocation.period[3].dayTime.temp}} ° c 
                td {{::weatherLocation.period[4].dayTime.temp}} ° c
// UI controls for cycling through weather locations
.ui-footer
    .btn(ng-click="listCycle(false)") <
    .btn(ng-click="listCycle(true)") >