section.edit-comment
	article.post.edit-post
		a(href="#/list" class="btn") &lt;
		h2.post-heading {{comments[whichItem].title}}
		p(class="post-content") {{comments[whichItem].content}}
	form(ng-submit="updateComment(whichItem)" class="list-add-form module-page")
		label(for="name") Name
		input(type="text" ng-model="comments[whichItem].title" id="name" placeholder="{{comment.title}}" class="input-flex border")
		label(for="commentText") Comment
		textarea( ng-model="comments[whichItem].content" id="commentText" placeholder="{{comment.content}}" class="input-flex border") 
		input(type="submit" value="Save" class="btn btn-lg")