.ui-controls
	.ui-search( class="menu-animation" ng-class="{'highlight':active, 'selected':select}" ng-mouseenter="active = true" ng-mouseleave="active = false")
		svg(ng-click="select = !select").ui-icon
			use(xlink:href="#search-icon")
		input(type="text" ng-model="searchQuery" class="border" name="search" placeholder="Search comments")
h2 There are {{comments.length}} comments.
.ui-comments-list
	a(ng-click="removeComments()") Remove Comments
	a(ui-sref="weatherApp.list.locations") Locations List
	a(ui-sref="weatherApp.list.create") Add a Comment
article.comment-list(ng-animate="'animate'" ng-repeat="comment in comments | filter:searchQuery | limitTo:3" class="module-page")
	label(class="list-select")
		input(type="checkbox" ng-model="comment.selected")
		h3.heading {{comment.title}}
	p(class="comment-content") {{comment.content}}
	a(href='#/edit/{{comments.indexOf(comment)}}' class="btn btn-sm") Edit Comment
.footer
	.ui-options( menu-item class="menu-animation" ng-class="{'highlight':active, 'selected':select}" ng-mouseenter="active = true" ng-mouseleave="active = false")
		ul
			li(ng-repeat="item in menuItems")
				a(ui-sref="{{item.sref}}") {{item.title}}
		svg(ng-click="select = !select").ui-icon
			use(xlink:href="#menu-icon")