ui-gmap-google-map(center="map.center" draggable="true" options="map.options" zoom="map.zoom")
		ui-gmap-markers(models="markers" coords="'self'" icon="'icon'" doRebuildAll="true")
			ui-gmap-windows(show="show" doRebuildAll="true")
				div(class="info-window" ng-non-bindable)
					h2 {{location}}
					div {{temp}} degrees
					div {{date}}
	.ui-column
		.map-ui
			h3.map-heading Forecast days
			.ui-slider
				input(ng-model="period" ng-change="getWeatherData()" type="text" id="mySlider1" slider options="options")
	.ui-date.ui-column
		p {{markers[0].date}}