
<section class="comments-list">
  <article class="post module-page">
    <h3 class="post-heading"></h3>
    <p class="comment-content"> </p><a href="#/edit/{{comments.indexOf(comment)}}" class="btn btn-sm">Edit Comment</a>
  </article>
  <form ng-submit="postComment()" class="list-add-form module-page">
    <label for="name">Name</label>
    <input type="text" ng-model="$scope.add" id="name" class="input-flex border"/>
    <label for="commentText">Comment</label>
    <textarea ng-model="addContent" id="commentText" placeholder="Your comment..." class="input-flex border"></textarea><a href="#/list">
      <input type="submit" value="Add Comment" class="btn btn-lg"/></a>
  </form>
</section>