
<div class="ui-controls">
  <div ng-class="{'highlight':active, 'selected':select}" ng-mouseenter="active = true" ng-mouseleave="active = false" class="ui-search menu-animation">
    <svg ng-click="select = !select" class="ui-icon">
      <use xlink:href="#search-icon"></use>
    </svg>
    <input type="text" ng-model="searchQuery" name="search" placeholder="Search comments" class="border"/>
  </div>
</div>
<div menu-item="menu-item" ng-class="{'highlight':active, 'selected':select}" ng-mouseenter="active = true" ng-mouseleave="active = false" class="ui-options menu-animation">
  <ul>
    <li ng-repeat="item in menuItems"><a ui-sref="{{item.sref}}">{{item.title}}</a></li>
  </ul>
  <svg ng-click="select = !select" class="ui-icon">
    <use xlink:href="#menu-icon"></use>
  </svg>
</div>
<h1>Weather near you</h1>
<article ng-model="localWeather" class="comment-list module-page">
  <h3 class="heading">{{localWeather.location}}</h3>
  <table class="table">
    <thead>
      <th></th>
      <th>{{ localWeather.period[0].date | date: 'EEE'}}</th>
      <th>{{ localWeather.period[1].date | date: 'EEE'}}</th>
      <th>{{ localWeather.period[2].date | date: 'EEE'}}</th>
      <th>{{ localWeather.period[3].date | date: 'EEE'}}</th>
      <th>{{ localWeather.period[4].date | date: 'EEE'}}</th>
      <tr> 
        <td>Daytime Weather</td>
        <td><img ng-src="/assets/weather-icons/w{{ localWeather.period[0].dayTime.weatherType}}.png"/></td>
        <td><img ng-src="/assets/weather-icons/w{{ localWeather.period[1].dayTime.weatherType}}.png"/></td>
        <td><img ng-src="/assets/weather-icons/w{{ localWeather.period[2].dayTime.weatherType}}.png"/></td>
        <td><img ng-src="/assets/weather-icons/w{{ localWeather.period[3].dayTime.weatherType}}.png"/></td>
        <td><img ng-src="/assets/weather-icons/w{{ localWeather.period[4].dayTime.weatherType}}.png"/></td>
      </tr>
      <tr> 
        <td>Temp</td>
        <td>{{ localWeather.period[0].dayTime.temp}} ° c </td>
        <td>{{ localWeather.period[1].dayTime.temp}} ° c </td>
        <td>{{ localWeather.period[2].dayTime.temp}} ° c </td>
        <td>{{ localWeather.period[3].dayTime.temp}} ° c </td>
        <td>{{ localWeather.period[4].dayTime.temp}} ° c</td>
      </tr>
      <tr> 
        <td>Wind Direction</td>
        <td>{{ localWeather.period[0].dayTime.windDir}} </td>
        <td>{{ localWeather.period[1].dayTime.windDir}} </td>
        <td>{{ localWeather.period[2].dayTime.windDir}} </td>
        <td>{{ localWeather.period[3].dayTime.windDir}} </td>
        <td>{{ localWeather.period[4].dayTime.windDir}}</td>
      </tr>
      <tr> 
        <td>Wind Speed</td>
        <td>{{ localWeather.period[0].dayTime.windSpeed}} </td>
        <td>{{ localWeather.period[1].dayTime.windSpeed}} </td>
        <td>{{ localWeather.period[2].dayTime.windSpeed}} </td>
        <td>{{ localWeather.period[3].dayTime.windSpeed}} </td>
        <td>{{ localWeather.period[4].dayTime.windSpeed}}</td>
      </tr>
    </thead>
  </table>
  <div id="barchart"></div>
  <p class="comment-content">{{localWeather.dayTime.temp}}</p>
</article>